/* line 1, ../sass/day4.scss */
html, body, #app {
  position: absolute;
  font-family: "Arial Narrow", "Century Gothic", Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* wtf is this shit */
  background: #1e5799;
  background: -moz-radial-gradient(center, ellipse cover, #d84a4a 0%, #ba1919 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #d84a4a), color-stop(100%, #ba1919));
  background: -webkit-radial-gradient(center, ellipse cover, #d84a4a 0%, #ba1919 100%);
  background: -o-radial-gradient(center, ellipse cover, #d84a4a 0%, #ba1919 100%);
  background: -ms-radial-gradient(center, ellipse cover, #d84a4a 0%, #ba1919 100%);
  background: radial-gradient(ellipse at center, #d84a4a 0%, #ba1919 100%);
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -ms-perspective: 800px;
  perspective: 800px;
}

/* line 23, ../sass/day4.scss */
.v-center-wrapper {
  overflow: hidden;
  *position: relative;
  display: table;
  *display: block;
}

/* line 30, ../sass/day4.scss */
.v-center-outer {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  *position: absolute;
  *top: 50%;
}

/* line 38, ../sass/day4.scss */
.v-center-inner {
  *position: relative;
  *top: -50%;
}

/* bad codes */
/* line 44, ../sass/day4.scss */
#app, #app * {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* line 52, ../sass/day4.scss */
#envelope {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 640px;
  height: 480px;
  margin-left: -320px;
  margin-top: -240px;
  -webkit-transform: translate3d(0, 640px, -100px);
  -moz-transform: translate3d(0, 640px, -100px);
  -ms-transform: translate3d(0, 640px, -100px);
  -o-transform: translate3d(0, 640px, -100px);
  transform: translate3d(0, 640px, -100px);
}

/* line 70, ../sass/day4.scss */
#letter {
  position: absolute;
  width: 640px;
  height: 480px;
  background-color: #fff;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 0 0 30px 20px rgba(0, 0, 0, 0.1);
  -webkit-transform: translate3d(0, -640px, 100px);
  -moz-transform: translate3d(0, -640px, 100px);
  -ms-transform: translate3d(0, -640px, 100px);
  -o-transform: translate3d(0, -640px, 100px);
  transform: translate3d(0, -640px, 100px);
}

/* line 92, ../sass/day4.scss */
#textfield {
  width: 100%;
  background-color: transparent;
  resize: none;
  border: none;
  outline: none;
  font-family: "Quintessential", Georgia, Times, serif;
  font-size: 28px;
  line-height: 46px;
  text-align: center;
}

/* line 104, ../sass/day4.scss */
#front {
  position: absolute;
  width: 640px;
  height: 480px;
  background-image: url(../images/day4/front.jpg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotateY(180deg) translate3d(0, 0, -0.02px);
  -moz-transform: rotateY(180deg) translate3d(0, 0, -0.02px);
  -ms-transform: rotateY(180deg) translate3d(0, 0, -0.02px);
  -o-transform: rotateY(180deg) translate3d(0, 0, -0.02px);
  transform: rotateY(180deg) translate3d(0, 0, -0.02px);
}

/* line 128, ../sass/day4.scss */
#front .v-center-inner {
  width: 100%;
  font-family: "Quintessential", Georgia, Times, serif;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
}

/* line 136, ../sass/day4.scss */
#back {
  position: absolute;
  width: 640px;
  height: 480px;
  background-image: url(../images/day4/back.jpg);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, -0.01px);
  -moz-transform: translate3d(0, 0, -0.01px);
  -ms-transform: translate3d(0, 0, -0.01px);
  -o-transform: translate3d(0, 0, -0.01px);
  transform: translate3d(0, 0, -0.01px);
}

/* line 154, ../sass/day4.scss */
#back-shadow {
  position: absolute;
  width: 640px;
  height: 480px;
  background-image: url(../images/day4/back_shadow.png);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0.01px);
  -moz-transform: translate3d(0, 0, 0.01px);
  -ms-transform: translate3d(0, 0, 0.01px);
  -o-transform: translate3d(0, 0, 0.01px);
  transform: translate3d(0, 0, 0.01px);
}

/* line 172, ../sass/day4.scss */
#base {
  position: absolute;
  width: 640px;
  height: 480px;
  background-image: url(../images/day4/base.png);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0.02px);
  -moz-transform: translate3d(0, 0, 0.02px);
  -ms-transform: translate3d(0, 0, 0.02px);
  -o-transform: translate3d(0, 0, 0.02px);
  transform: translate3d(0, 0, 0.02px);
}

/* line 191, ../sass/day4.scss */
#flip {
  position: absolute;
  width: 640px;
  height: 277px;
  background-image: url(../images/day4/top.png);
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform: rotateX(180deg) translate3d(0, 0, 0.03px);
  -moz-transform: rotateX(180deg) translate3d(0, 0, 0.03px);
  -ms-transform: rotateX(180deg) translate3d(0, 0, 0.03px);
  -o-transform: rotateX(180deg) translate3d(0, 0, 0.03px);
  transform: rotateX(180deg) translate3d(0, 0, 0.03px);
}

/* line 210, ../sass/day4.scss */
#btn {
  position: absolute;
  width: 120px;
  height: 120px;
  left: 50%;
  top: 50%;
  margin-left: 180px;
  margin-top: 100px;
  background-color: #000;
  border-radius: 60px;
  font-size: 20px;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  line-height: 120px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 0 0 black;
}

/* line 243, ../sass/day4.scss */
#btn:hover {
  -webkit-transform: rotateZ(10deg) scale3d(1.05, 1.05, 1);
  -moz-transform: rotateZ(10deg) scale3d(1.05, 1.05, 1);
  -ms-transform: rotateZ(10deg) scale3d(1.05, 1.05, 1);
  -o-transform: rotateZ(10deg) scale3d(1.05, 1.05, 1);
  transform: rotateZ(10deg) scale3d(1.05, 1.05, 1);
  background-color: #e62222;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

/* line 259, ../sass/day4.scss */
#info {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 300px;
  margin-left: -150px;
  margin-top: -70px;
  padding: 20px;
  background-color: #fff;
  opacity: 0;
  font-size: 16px;
  line-height: 20px;
  box-sizing: border-box;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

/* line 278, ../sass/day4.scss */
#info .msg {
  margin-bottom: 8px;
}

/* line 282, ../sass/day4.scss */
#info span, #info a {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  color: #CCC;
  margin-right: 5px;
}

/* line 291, ../sass/day4.scss */
#info a, #info a:hover, #info a:visited, #info a:active {
  color: #c00;
}
