/* line 1, ../sass/day5.scss */
html, body {
  font-family: "Arial Narrow", "Century Gothic", Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #fff;
  background-color: #101010;
}

/* line 9, ../sass/day5.scss */
#wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 900px;
  height: 600px;
  margin-left: -450px;
  margin-top: -300px;
  overflow: hidden;
}

/* line 19, ../sass/day5.scss */
#container {
  position: absolute;
  width: 1200px;
  height: 800px;
  left: -150px;
  top: -100px;
  background-image: url(../images/day5/base.jpg);
}

/* line 28, ../sass/day5.scss */
#ground {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 1200px;
  height: 303px;
  background-image: url(../images/day5/base.jpg);
  background-position: center bottom;
}

/* line 39, ../sass/day5.scss */
#info {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 300px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  box-sizing: border-box;
}
/* line 53, ../sass/day5.scss */
#info .msg {
  margin-bottom: 8px;
}
/* line 57, ../sass/day5.scss */
#info span, #info a {
  margin-right: 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}
/* line 64, ../sass/day5.scss */
#info span {
  color: #CCC;
}
/* line 67, ../sass/day5.scss */
#info a, #info a:hover, #info a:visited, #info a:active {
  color: #c00;
}

/* line 72, ../sass/day5.scss */
#credit {
  position: absolute;
  right: 5px;
  bottom: 5px;
}
/* line 77, ../sass/day5.scss */
#credit a, #credit a:hover, #credit a:visited, #credit a:active {
  color: #c00;
}
