html, body{
    font-family: 'Arial Narrow', 'Century Gothic', Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #fff;
    background-color: #101010;
}
canvas{
    width: 100%;
    height: 100%;
}

#info {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 300px;
    padding: 20px;
    background-color: rgba(0,0,0,.6);
    color: #fff;

    font-size: 14px;
    line-height: 20px;

    box-sizing: border-box;

    .msg {
        margin-bottom: 8px;
    }

    span, a {
        margin-right: 5px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
    }

    span {
        color: #CCC;
    }
    a, a:hover, a:visited, a:active {
        color: #c00;
    }
}

#credit {
    position: absolute;
    right: 5px;
    bottom: 5px;

    a, a:hover, a:visited, a:active {
        color: #c00;
    }
}

